@import url('https://fonts.googleapis.com/css?family=Poppins');
.newsDiv {
	background: #fafafa;
	text-align: center;
	
	padding-bottom: 4rem;


}
.submitButton {
	letter-spacing: 1.2px;
	font-size: 18px;
	opacity: 1;
	color: white;
	background-color: var(--primaryColor);
	border: 3px solid white;
	padding: 0.7rem 1.6rem;
	display: inline-block;
	transition: all 0.3s linear;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	margin-top: 1.2rem;
	border-radius:  0.25rem;
}
.submitButton:hover {
	background: white;
	color: var(--primaryColor);
	border: 1px solid var(--primaryColor);
}
.emailInput {
	font-family: 'Poppins';
	letter-spacing: 1.7px;
	color: var(--deepPurple);
	opacity: 1;
	border-radius:  0.25rem;
	border: transparent;
	padding: 1rem 11rem;
	text-align: center;
	margin-bottom: 1rem;
	
}
.title {
	padding-bottom: 1rem;
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 2.1rem;
	width: 60%;
	margin: auto;
	letter-spacing: 1.7px;
	color: var(--deepPurple);
	opacity: 1;
}
.para {
	font-family: 'Poppins';
	letter-spacing: 0px;
	color: var(--deepPurple);
	opacity: 1;
	width: 50%;
	margin: auto;
	line-height: 1.75rem;
}
@media screen and (max-width: 576px) {
	.emailInput {
		width: 90%;
		padding: 1rem 1rem;
	}
}