@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
nav {
	box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}
.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.25rem;
}

.brand-logo {
	font-family: 'PT Sans Caption';
	font-size: 31px;
	font-weight: 800;
	margin-bottom: 0;
	color: var(--primaryColor);
	opacity: 0.8;
}
.logo-wrap {
	display: flex;
}
.logo-btn {
	background: transparent;
	border: none;
	outline: none;
}
.logo-btn:hover {
	cursor: pointer;
}
.logo-icon {
	color: var(--primaryColor);
	font-size: 1.5rem;
}

.nav-links {
	list-style-type: none;
	height: 0;
	overflow: hidden;
	transition: all 0.3s linear;
}
.show-nav {
	height: 430px;
}
.nav-links a {
	display: block;
	padding: 1.5rem 1.5rem;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.3s linear;
	color: var(--deepPurple);
	font-weight: 500;
	font-size: 1.2rem;
	letter-spacing: 1.2px;
}
.nav-links a:hover {
	color: var(--primaryColor);
	font-weight: 500;
}
.nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: var(--primaryColor);
    margin: 0 1rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: var(--mainBlack);
    transform: translateY(-5px);
  }
  .nav-social-links {
	display: none;
  }
@media screen and (min-width: 576px) {
	.navbar {
		padding: 0 2rem;
	}
}

@media screen and (min-width: 992px) {
	.logo-btn {
		display: none;
	}
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav-links {
		height: auto;
		display: flex;
	}
	.nav-social-links {
		display: flex;
		line-height: 0;
	  }
	  .nav-social-links a {
		color: var(--primaryColor);
		margin: 0 1rem;
		font-size: 1.2rem;
		transition: var(--mainTransition);
	  }
	  .nav-social-links a:hover {
		color: var(--deepPurple);
		transform: translateY(-5px);
	  }
}
