.footer {
	background: var(--mainBlack);
	padding: 2rem;
	text-align: center;
	color: var(--mainWhite);
	opacity: 1;

}
.links a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--mainWhite);
	margin: 0.5rem 2rem;
	letter-spacing: 1.2px;
	transition: var(--mainTransition);
	font-weight: 400;
	font-size: 1rem;
}
.links a:hover {
	color: var(--primaryColor);
	transform: translateY(-10%);
}
.icons a {
	display: inline-block;
	margin: 1rem;
	font-size: 1.3rem;
	color: var(--mainWhite);
	transition: var(--mainTransition);
}
.icons a:hover {
	color: var(--primaryColor);
	transform: translateY(-10%);
}
.copyright {
	text-transform: capitalize;
	font-size: 0.8rem;
	letter-spacing: 1.2px;
	line-height: 2;
}
